input:focus {
  outline: none;
}

i {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

i:hover {
  opacity: 1;
}

#clear-all {
  opacity: 0.5;
}

#clear-all:hover {
  opacity: 1;
  text-decoration: underline;
}

#clear-all:focus {
  box-shadow: none;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.td-line-through {
  text-decoration: line-through;
}

#warning {
  transition: opacity 1s ease-in-out;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: inherit;
}
